<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tabwu.SAP.ware.mapper.MaterialWareMapper">

    <update id="reduceWareStockByCondition">
        UPDATE yls_material_ware SET stock = stock - #{number}
        WHERE m_type = 3 AND wid = #{wareId} AND mid = #{mcode} AND lot = #{lot} AND lid = #{localStorageId};
    </update>
</mapper>
